.b-container{
    width:200px;
    height:150px;
    background-color: #ccc;
    margin:0px auto;
    padding:10px;
    font-size:30px;
    color: #fff;
}
.b-popup{
  z-index: 4;
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}
.b-popup .b-popup-content{
    text-align: center;
    margin:300px auto 0px auto;
    width:300px;
    height: 100px;
    padding:10px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}

.container {
    display: table;
    width: 100%;
    height: 3px;
    margin-bottom: 12px;
}


form > div > span > input[name="name"]:valid,
form > div > span > input[name="phone"]:valid,
form > div > span > input[name="mail"]:valid{
  border-color: rgba(0,255,0,1);
  border-width: 2px; 
}
form > div > span > input[name="name"]:invalid:not(:focus):not(:placeholder-shown),
form > div > span > input[name="phone"]:invalid:not(:focus):not(:placeholder-shown),
form > div > span > input[name="mail"]:invalid:not(:focus):not(:placeholder-shown){
  border-color: rgba(255,0,0,1);
  border-width: 2px; 
}

label {
    display: table-cell;
    width: 1px;
    white-space: nowrap;
    vertical-align:top;
}
span {
  width:400px;
  display: table-cell;
}
input {
  float: right;
  width: 250px;
  height:27.556px;
  border-radius: 20px;
  border-width: 0.5px;
  outline: none;
}
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.site-header{

    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    height: 70px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: center;
    z-index: 10;
}

.site-header img {
	position: relative;
	height: 60px;
	padding-top: 5px;
	padding-right: 50px;
}
.leftstr, .rightstr {
    float: left;  
    width: 48%;  
}
.rightstr {
    text-align: left; 
}

p, label, .accept-button, input {
  font-family: Work Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 300 !important;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;

}

.boxes
{
	text-align: center;
	margin: 2%;
	margin-left: 8%;
	margin-right: 8%;
  padding: 6px;
	background-color: rgba(239,239,239,0.5);
}
.photo
{
  background: transparent;
	padding:0px;
	margin-right: 5%;
    margin-bottom: 5%;
    align-items: center;
}
.form
{
  width: 425px; 
  margin:auto;
}


.accept-button
{
  font-size: 18px;
  float: none;
	width:160px;
  margin:auto;
}
.ftr {
    font-family: "Work Sans";
    font-size: 25px;
    background-color: #c4c4c4;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    vertical-align: middle;

}

.burger-butt {
	float: left;
	padding-top: 10px;
	padding-left: 15px;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;

  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;
  padding: 0 0 0 0;
  background-color: #000;

  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;

  width: 300px;
  height: 30%;

  margin: 0;
  padding: 80px 0;

  list-style: none;

  background-color: #fff;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

  transition-duration: .25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;

  color: #333;

  font-family: serif;
  font-size: 20px;
  font-weight: 300;

  text-decoration: none;

  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #c4c4c4;
}